@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../styles/reset.scss';
@font-face {
    font-family: 'Awesome-Font';
    font-style: normal;
    font-weight: 400;
    src: local('Awesome-Font'), local('Awesome-Font-Regular'), url(/fontawesome-webfont.woff) format('woff');
  }
  
 
:root{

    --header-text:#fff;
    --header-button:#FFD723;
    --strategy:#4D533C;
    --aerolad:#213842;
    --link:#D4D6D4;
    --founder:#152934;
    --footer-phone:#b6c197;
    --footer-border:#5d6544;
}

.body{
    font-family: Poppins;
    &-hover-button:hover{
        color: var(--header-button);
    }
}

.header{
    width: 1441px;
    background-image: url(../images/header.png);
    margin: 0 auto;
    padding-bottom: 211px;
    
    &-navigation{
        width: 1111px;
        margin-left: 164px;
        padding-top: 24px;
        margin-bottom: 121px;

        &-logo{
            width: 258px;
            align-items: center;
            margin: 0;
            font-size: 40px;
        }
    }
    &-info{
        width: 616px;
        height: 412px;
        margin-left: 166px;

        &-text{
            font-weight: 400;
            font-size: 14px;
            color: var(--header-text);
        }
        &-heading{
            font-weight: 700;
            font-size: 60px;
            color: var(--header-text);
            margin: 22px 0px;
            line-height: 80px;
        }
        &-anteelo{
            font-weight: 400;
            font-size: 16px;
            color: var(--header-text);
            margin-bottom: 45px;
            line-height: 30px;
        }
        &-link{
            color: var(--link);
            font-weight: 400;
            font-size: 16px;
            font-family: 'Awesome-Font', Arial;
            
        }
    }
}

.main{
    
    &-strategy{
        width: 1441px;
        // height: 794px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        &-box{
            width: 1276px;
            // height: 227px;
            color: var(--header-text);
            position: absolute;
            top: 706px;
            left: 164px;
            right: 0px;
            margin: 0 auto;
            background-color: var(--header-text);
            box-shadow: 32px 66px 105px -5px rgba(184,184,184,0.6);
            &-container{
                width: 1045px;
                // height: 113px;
                display: flex;
                column-gap: 66px;
                // justify-content: space-between;
                margin: 60px 0px 54px 65px;
                &-photo{
                    width: 156px;
                    height: 113px;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
        &-list{
            width: 1109px;
            // height: 644px;
            display: flex;
            justify-content: space-between;
            &-item1{
                width: 475px;
                // height: 366px;
                padding-top: 244px;
                &-text{
                    color: var(--strategy);
                    opacity: 0.9;
                    font-weight: 400;
                    font-size: 14px;
                }
                &-name{
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 128%;
                    color: var(--strategy);
                    opacity: 0.9;
                    margin: 29px 0px 35px;
                }
                &-aerolad{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 162%;
                    color: var(--aerolad);
                    opacity: 0.6;
                    margin-bottom: 42px;
                }
                &-link{
                    font-weight: 400;
                    font-size: 16px;
                    text-decoration: underline;
                    color: var(--link);
                    font-family: 'Awesome-Font', Arial;
                }
            }
            &-item2{
                width: 474px;
                // height: 644px;
                box-shadow: -2px -137px 140px -6px rgba(184,184,184,0.6), -2px 134px 114px -58px rgba(184,184,184,0.61);
                &-text{
                    width: 426px;
                    // height: 200px;
                    font-style: italic;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 167%;
                    color: var(--strategy);
                    margin: 244px 8px 50px 40px;
                }
                &-list{
                    // margin-left: 160px;
                    display: flex;
                    margin-bottom: 60px;
                    &-item1{
                        margin-right: 30px;
                        &-photo{
                            width: 90px;
                            height: 90px;
                            border-radius: 100%;
                            margin-left: 40px;
                        }
                    }
                    &-item2{
                        
                    &-name{
                        font-weight: 700;
                        font-size: 22px;
                        color: var(--strategy);
                        margin-bottom: 12px;
                        margin-top: 14px;
                        }
                        &-text{
                            font-weight: 400;
                            font-size: 16px;
                            color: var(--founder);
                        }
                    }

                }
            }
        }
    }

    &-project{
        width: 1440px;
        // height: 2353px;
        margin: 0 auto;
        margin-bottom: 300px;
        &-box{
            width: 976px;
            // height: 102px;
            display: flex;
            justify-content: space-between;
            margin: 301px 0px 110px 165px;
            &-name{
                width: 325px;
                font-weight: 700;
                font-size: 36px;
                line-height: 130%;
                color: var(--strategy);
            }
            &-text{
                width: 518px;
                font-weight: 400;
                font-size: 16px;
                line-height: 162%;
                color: var(--aerolad);
                opacity: 0.6;
                padding-bottom: 12px;
            }
        }
        &-balenciaga{
            width: 1306px;
            // height: 615px;
            display: flex;
            justify-content: space-between;
            &-item1{
                width: 775px;
                // height: 615px;
                &-photo{
                    width: 735px;
                    height: 550px;
                }
            }
            &-item2{
                width: 475px;
                // height: 397px;
                margin-bottom: 80px;
                &-name{
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 133%;
                    color: var(--strategy);
                }
                &-text{
                    width: 421px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 162%;
                    color: var(--aerolad);
                    opacity: 0.6;
                    margin-bottom: 24px;
                    margin-bottom: 90px;
                }
                &-link{
                    font-weight: 400;
                    font-size: 16px;
                    text-decoration: underline;
                    color: var(--link);
                    font-family: 'Awesome-Font', Arial;
                }
            }
        }

        &-angel{
            width: 453px;
            // height: 243px;
            background-color: var(--header-text);
            border-radius: 8px;
            padding: 30px 0px 30px 30px;
            box-shadow: 51px 49px 89px 0px rgba(196,196,196,0.63);
            position: absolute;
            top: 2330px;
            left: 332px;
            right: 704px;
            margin: 0  auto;
            &-text{
                width: 390px;
                font-style: italic;
                font-weight: 400;
                font-size: 16px;
                line-height: 162%;
                color: var(--strategy);
                margin-bottom: 40px;
            }
            &-list{
                display: flex;
                &-item1{

                    &-photo{
                        width: 46px;
                        height: 46px;
                        border-radius: 100%;
                        margin-right: 14px;
                    }
                }
                &-item2{
                    
                    &-name{
                        font-weight: 700;
                        font-size: 16px;
                        color: var(--strategy);
                        margin-bottom: 14px;
                    }
                    &-text{
                        font-weight: 400;
                        font-size: 14px;
                        color: var(--founder);
                    }
                }
            }
        }

        &-3dmodel{
            width: 1268px;
            // height: 585px;
            display: flex;
            justify-content: space-between;
            margin: 100px 0px 130px 172px;
            &-item1{
                width: 475px;
                // height: 397px;
                margin-bottom: 80px;
                &-name{
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 133%;
                    color: var(--strategy);
                }
                &-text{
                    width: 421px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 162%;
                    color: var(--aerolad);
                    opacity: 0.6;
                    margin-bottom: 24px;
                    margin-bottom: 90px;
                }
                &-link{
                    font-weight: 400;
                    font-size: 16px;
                    text-decoration: underline;
                    text-decoration-skip-ink: none;
                    color: var(--link);
                    font-family: 'Awesome-Font', Arial;
                }
            }
            &-item2{
                width: 775px;
                // height: 585px;
                display: flex;
                justify-content: end;
                &-photo{
                    width: 735px;
                    height: 550px;

                }
            }
        }

        &-lina{
            width: 453px;
            // height: 243px;
            background-color: var(--header-text);
            border-radius: 8px;
            padding: 30px 0px 30px 30px;
            box-shadow: 51px 49px 89px 0px rgba(196,196,196,0.63);
            position: absolute;
            top: 2955px;
            left: 705px;
            right: 331px;
            margin: 0 auto;
            &-text{
                width: 390px;
                font-style: italic;
                font-weight: 400;
                font-size: 16px;
                line-height: 162%;
                color: var(--strategy);
                margin-bottom: 40px;
            }
            &-list{
                display: flex;
                &-item1{

                    &-photo{
                        width: 46px;
                        height: 46px;
                        border-radius: 100%;
                        margin-right: 14px;
                    }
                }
                &-item2{

                    &-name{
                        font-weight: 700;
                        font-size: 16px;
                        color: var(--strategy);
                        margin-bottom: 14px;
                    }
                    &-text{
                        font-weight: 400;
                        font-size: 14px;
                        color: var(--founder);
                    }
                }
            }
        }

        &-booking{
            width: 1305px;
            // height: 590px;
            display: flex;
            justify-content: space-between;
            &-item1{
                width: 776px;
                // height: 590px;
                margin-bottom: 37px;
                &-photo{
                    width: 735px;
                    height: 550px;
                }
            }
            &-item2{
                width: 475px;
                // height: 397px;
                margin-bottom: 80px;
                &-name{
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 133%;
                    color: var(--strategy);
                }
                &-text{
                    width: 421px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 162%;
                    color: var(--aerolad);
                    opacity: 0.6;
                    margin-bottom: 24px;
                    margin-bottom: 116px;
                }
                &-link{
                    font-weight: 400;
                    font-size: 16px;
                    text-decoration: underline;
                    text-decoration-skip-ink: none;
                    color: var(--link);
                    font-family: 'Awesome-Font', Arial;
                }
            }
        }
        &-eunice{
            width: 453px;
            // height: 210px;
            background-color: var(--header-text);
            border-radius: 8px;
            padding: 30px 0px 30px 30px;
            box-shadow: 51px 49px 89px 0px rgba(196,196,196,0.63);
            position: absolute;
            top: 3675px;
            left: 333px;
            right: 704px;
            margin: 0 auto;
            &-text{
                width: 390px;
                font-style: italic;
                font-weight: 400;
                font-size: 16px;
                line-height: 162%;
                color: var(--strategy);
                margin-bottom: 40px;
            }
            &-list{
                display: flex;
                &-item1{

                    &-photo{
                        width: 46px;
                        height: 46px;
                        border-radius: 100%;
                        margin-right: 14px;
                    }
                }
                &-item2{

                    &-name{
                        font-weight: 700;
                        font-size: 16px;
                        color: var(--strategy);
                        margin-bottom: 14px;
                    }
                    &-text{
                        font-weight: 400;
                        font-size: 14px;
                        color: var(--founder);
                    }
                }
            }
        }
    }
    &-deation{
        width: 1110px;
        justify-content: center;
        margin: 0 auto;
        &-name{
            width: 607px;
            font-weight: 700;
            font-size: 36px;
            line-height: 128%;
            color: var(--strategy);
            margin-bottom: 60px;
        }
        &-list{
            width: 1110px;
            // height: 309px;
            display: flex;
            row-gap: 30px;
            margin-bottom: 322px;
            &-item{
                width: 255px;
                padding-top: 27px;
                display: flex;
                flex-direction: column;
                padding-left: 30px;
                justify-content: space-between;
                &-name{
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 142%;
                    text-transform: uppercase;
                    color: var(--strategy);
                    margin-bottom: 20px;
                }
                &-text{
                    width: 194px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 186%;
                    color: var(--aerolad);
                    opacity: 0.6;
                    
                }
                &-link{
                    font-weight: 400;
                    font-size: 16px;
                    text-decoration: underline;
                    color: var(--link);
                    font-family: 'Awesome-Font', Arial;
                    margin-top: 33px;
                }
            }
        }
        &-box{
            width: 1275px;
            background-color: var(--header-text);
            position: absolute;
            top: 4755px;
            right: 244px;
            left: 0px;
            margin: 0 auto;
            &-container{
                width: 822px;
                margin: 70px 0px 71px 164px;
                &-name{
                    font-weight: 700;
                    font-size: 60px;
                    line-height: 123%;
                    color: var(--strategy);
                    margin-bottom: 50px;
                }
                &-link{
                    font-weight: 400;
                    font-size: 16px;
                    text-decoration: underline;
                    color: var(--link);
                    font-family: 'Awesome-Font', Arial;
                }
            }
        }
    }
}

.footer{
    width: 1440px;
    background-image: url("../images/footer.png");
    padding-top: 310px;
    padding-left: 165px;
    box-shadow: -44px -3px 72px 6px rgba(62, 60, 60, 0.32);
    margin: 0 auto;
    &-box{
        width: 1111px;
        &-list1{
            display: flex;
            margin-bottom: 52px;
            &-item{
                margin-right: 128px;
                &-text{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 250%;
                    color: var(--footer-phone);
                    margin-bottom: 8px;
                }
                &-name{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 250%;
                    color: var(--header-text);
                }
            }
        }

        &-list2{
            display: flex;
            padding-top: 60px;
            margin-bottom: 60px;
            border-top: 1px solid var(--footer-border);
            &-item{
                width: 164px;
                &-name{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 237%;
                    text-transform: uppercase;
                    color: var(--header-text);
                }
                &-box{

                    &-text{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 250%;
                        color: var(--footer-phone);
                        padding-top: 21px;
                        
                    }
                }
            }
            &-item:nth-child(2){
                margin: 0px 100px 0px 70px;
            }
            &-item:nth-child(3) {
                padding-right: 13px;
                border-right: 1px solid var(--footer-border);
            }
            &-info{
                margin-left: 110px;
                &-name{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 237%;
                    text-transform: uppercase;
                    color: var(--header-text);
                }
                &-text{
                    width: 270px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 162%;
                    color: var(--footer-phone);
                    margin: 23px 0px 23px 0px;
                }
                &-email{
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 158%;
                    color: var(--header-text);
                    margin-bottom: 24px;
                }
                &-box{
                    width: 171px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        &-container{
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
            border-top: 1px solid var(--footer-border);
            &-photo{
                margin-top: 25px;
            }
            &-text{
                font-weight: 400;
                font-size: 14px;
                color: var(--footer-phone);
                margin: 33px 26px 6px 0px;
            }
        }
    }
    &-icon:hover path{
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        fill: var(--header-text);
    }
    &-icon:hover .background{
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        fill: var(--header-button);
    }
}
@media(max-width:576px){
    .body{
        width: 425px;
    }
    .header{
        width: 425px;
        padding-bottom: 40px;
        background-repeat: no-repeat;
        background-size: cover;
        &-navigation{
            margin-left: 35px;
            margin-bottom: 60px;
            &-logo{
                width: 170px;
                height: 35px;
            }
        }
        &-info{
            margin-left: 35px;
            &-text{
                font-size: 20px;
            }
            &-heading{
                width: 300px;
                font-size: 30px;
                line-height: 50px;
            }
            &-anteelo{
                width: 310px;
                margin-bottom: 35px;
            }
            &-link{
                font-size: 20px;
            }
        }
    }
    .main{
        &-strategy{
            justify-content: start;
            &-box{
                width: 425px;
                top: 520px;
                left: 0px;
                &-container{
                    width: 375px;
                    margin: 30px 0px 30px 22px;
                    column-gap: 27px;
                    &-photo{
                        width: 14%;
                        height: 9%;
                        
                    }
                }
            }
            &-list{
                margin-left: 35px;
                display: block;
                &-item1{
                    padding-top: 115px;
                    &-text{

                    }
                    &-name{
                        font-size: 30px;
                    }
                    &-aerolad{
                        width: 310px;
                    }
                    &-link{

                    }
                }
                &-item2{
                    width: 350px;
                    &-text{
                        font-size: 18px;
                        width: 310px;
                        margin: 100px 0px 0px 0px;
                        padding: 20px 0px 20px 15px;
                    }
                    &-list{
                        margin-bottom: 0px;
                        padding-bottom: 30px;
                        &-item1{

                            &-photo{
                                width: 70px;
                                height: 70px;
                                margin-left: 25px;
                            }
                        }
                        &-item2{

                            &-name{
                                font-size: 18px;

                            }
                            &-text{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
        &-project{
            width: 425px;
            &-box{
                width: 360px;
                margin: 175px 0px 110px 35px;
                display: block;
                &-name{
                    width: 360px;
                    font-size: 30px;
                    text-align: center;
                    margin-bottom: 35px;
                }
                &-text{
                    width: 360px;
                    text-align: center;
                }
            }
            &-balenciaga{
                width: 425px;
                display: block;
                &-item1{
                    width: 425px;
                    &-photo{
                        width: 425px;
                        height: 300px;
                    }
                }
                &-item2{
                    width: 425px;
                    margin-top: 35px;
                    &-name{
                        width: 360px;
                        font-size: 30px;
                        text-align: center;
                        margin-left: 32.5px;
                        margin-bottom: 25px;
                    }
                    &-text{
                        width: 380px;
                        margin-bottom: 40px;
                        font-size: 13px;
                        margin-left: 22.5px;
                        text-align: center;
                    }
                    &-link{
                        margin-left: 146.5px;
                    }
                }
            }
            &-angel{
                width: 200px;
                padding: 10px 0px 10px 10px;
                top: 2136px;
                left: 215px;
                right: 1px;
                border-radius: 10px 0px 0px 0px;
                background-color: #ffffffa1;
                margin-right: 0px;
                &-text{
                    width: 195px;
                    height: 60px;
                    font-size: 12px;
                    overflow:scroll;
                    margin-bottom: 22px;
                }
                &-list{

                    &-item1{

                        &-photo{
                            width: 35px;
                            height: 35px;
                        }
                    }
                    &-item2{

                        &-name{
                            font-size: 14px;
                            margin-bottom: 8px;
                        }
                        &-text{
                            font-size: 12px;
                        }
                    }
                }
            }
            &-3dmodel{

                &-item1{

                    &-name{

                    }
                    &-text{

                    }
                    &-link{

                    }
                }
                &-item2{

                    &-photo{

                    }
                }
            }
            &-lina{

                &-text{

                }
                &-list{

                    &-item1{

                        &-photo{

                        }
                    }
                    &-item2{

                        &-name{

                        }
                        &-text{

                        }
                    }
                }
            }
            &-booking{

                &-item1{

                    &-photo{

                    }
                }
                &-item2{

                    &-name{

                    }
                    &-text{

                    }
                    &-link{

                    }
                }
            }
            &-eunice{

                &-text{

                }
                &-list{

                    &-item1{

                        &-photo{

                        }
                    }
                    &-item2{

                        &-name{

                        }
                        &-text{

                        }
                    }
                }
            }
        }
    }
}
